#navigation {
  margin-top: 5%;
  margin-bottom: 5%;
}

#navigation a {
  margin-right: 10%;
}

#navigation a:last-child {
  margin-right: 0;
}

.profile-container {
  max-width: 50vw;
}

.profile-gradient {
  height: 8rem;
  background: linear-gradient(to left, #FFAFBD, #ffc3a0);
}

.profile-image {
  width: 96px;
  height: 96px;
  position: absolute;
  top: -48px;
  left: 16px;
}

.social-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-bell-icon {
  position: absolute;
  top: .5rem;
  right: 1.5rem;
}

.auth-page {
  background-image: linear-gradient(to bottom, #0F2027, #203A43, #2C5364);
}

.alert {
  animation: alertAnimation 0.3s ease-in-out;
}

@keyframes alertAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.sidebar {
  transition: all 0.3s ease-in-out;
}

