.note__box::-webkit-scrollbar {
    width: 4px;
}
 
.note__box::-webkit-scrollbar-track {
}
 
.note__box::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 20px;
    background-clip: padding-box;
}